{:deps true
 :builds
 {:ext
  {:target :esm
   :output-dir "ext/js"
   :runtime :custom
   :modules
   {:shared {:entries []}
    :background {:init-fn ext.background/init
                 :depends-on #{:shared}}
    :popup {:init-fn ext.popup/init
            :depends-on #{:shared}}}}}}
